

<div class="row">
<%= form_for(@email, url: email_index_path) do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-sm-offset-1 col-sm-8 email-form">
    <div class="field">
      <%= f.text_field :email, placeholder: "Email", :class => "email-only" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="main-page">
      <%= f.submit 'Sign Up' %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="field t_c homepage-bottom-terms">
      <h5 class="home-checkbox-text"><%= f.check_box :opt_in, {required: true, checked: false}, true, false %> Please send me more info on vactioning in the wilderness north of Toronto.</h5>
      <%#= f.label :terms_of_service %>
    </div>
  </div>
  <% end %>
</div>
